{% extends "main.html" %}
{% block tabs %}
  {{ super() }}

  <!-- The big featured header  -->
  <header style="background-image: url('assets/images/earth5.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; height: 100vh;">

 
        <div style="text-align: center; padding-top: calc(65vh - 100px);">

              <a href="https://nl.linkedin.com/in/timvink"
                title="public Linkedin profile of Tim Vink">
                <span class="twemoji homepage_icon">
                  {% include ".icons/fontawesome/brands/linkedin.svg" %} 
                </span>
              </a>

              <a href="http://github.com/timvink" title = "github profile of Tim Vink">
                <span class="twemoji homepage_icon">
                  {% include ".icons/fontawesome/brands/github.svg" %} 
                </span>
              </a>

              <a href="http://gitlab.com/vinktim" title="gitlab profile of Tim Vink">
                <span class="twemoji homepage_icon">
                  {% include ".icons/fontawesome/brands/square-gitlab.svg" %} 
                </span>
              </a>

              <a href="https://twitter.com/timvink" title="twitter profile of Tim Vink">
                  <span class="twemoji homepage_icon">
                    {% include ".icons/fontawesome/brands/twitter.svg" %} 
                  </span>
              </a>

              <a  href="https://stackoverflow.com/users/5525118/timvink" title="Stackoverflow profile of Tim Vink">
                <span class="twemoji homepage_icon">
                  {% include ".icons/fontawesome/brands/stack-overflow.svg" %} 
                </span>
              </a>

            <h1>
              Hi! I'm Tim, a data-literate digital-native that loves space.
              <br/><small class="text-muted">(background: Earth as seen from Mars)</small>
            </h1>

        </div>

        <div style="text-align: center; padding-top: 2rem;">

        <a href="#start-blog-entries-overview" title="Stackoverflow profile of Tim Vink">
          <span class="twemoji homepage_icon homepage_arrow" style="width: 2rem">
            {% include ".icons/octicons/chevron-down-24.svg" %} 
          </span>
        </a>
          
        </div>

</header>



{% endblock %}

{% block content %}

  <div id="start-blog-entries-overview">
  </div>

  {% for post in blog_pages %}
  
  <article class="md-post md-post--excerpt" style="margin-bottom: 0.5rem;">
    <header class="md-post__header">
      <div class="md-post__meta md-meta">
        <time datetime="{{ post.config.date.created }}">
          {{- post.config.date.created | date -}}
        </time> - {{ post.config.readtime }} min read          
      </div>
    </header>

    <div class="md-post__content md-typeset">
      <h2><a class="toclink" href="{{ post.url }}">{{ post.title }}</a></h2>
    </div>

  </article>
    
  {% endfor %}

{% endblock %}


{% block footer %}
  {{ super() }}
{% endblock %}