babel
beautifulsoup4
bracex
CacheControl
certifi
charset-normalizer
click
colorama
csscompressor
filelock
ghp-import
gitdb
GitPython
htmlmin2
idna
Jinja2
jsmin
Markdown
markdown-captions
MarkupSafe
mergedeep
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-encryptcontent-plugin
mkdocs-get-deps
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-rss-plugin
msgpack
natsort
packaging
paginate
pathspec
platformdirs
pycryptodome
Pygments
pymdown-extensions
python-dateutil
pytz
PyYAML
pyyaml_env_tag
regex
requests
six
smmap
soupsieve
urllib3
watchdog
wcmatch
